asgiref==3.8.1
boto3==1.35.62
botocore==1.35.62
cachetools==5.5.0
charset-normalizer==3.3.2
dj-database-url==2.2.0
Django==5.0.2
django-environ==0.11.2
django-heroku==0.3.1
django-storages==1.14.4
google-auth==2.34.0
google-auth-oauthlib==1.2.1
gunicorn==20.1.0
idna==3.8
jmespath==1.0.1
oauthlib==3.2.2
pillow==10.4.0
psycopg2==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
python-dotenv==1.0.1
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.10.3
sqlparse==0.5.1
stripe==10.11.0
whitenoise==6.7.0
