audio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it spans the width of the parent */
  height: auto; /* Adjust as needed */
  text-align: center; /* Optional: center-align text */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  
}

audio {
  
  justify-content: center;
  align-items: center;
  
}

h2 {
  
  
  background-color: hsl(0, 0%, 0%); /* dark background color */
  
  
}